        </main>
      </div>
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <!--                                                              -->
      <!--                         PAGE FOOTER                          -->
      <!--                                                              -->
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <footer class="page-footer">
        <nav class="main-nav main-nav--footer">
          <ul class="main-nav__items main-nav__items--footer">
            <li class="main-nav__item main-nav__item--footer">
              <a class="main-nav__link" href="index.html">
                главная
              </a>
            </li>
            <li class="main-nav__item main-nav__item--footer">
              <a class="main-nav__link" href="about.html">
                я и этот сайт
              </a>
            </li>
            <li class="main-nav__item main-nav__item--footer">
              <a class="main-nav__link" href="reviews.html">
                отчеты
              </a>
            </li>
            <li class="main-nav__item main-nav__item--footer">
              <a class="main-nav__link" href="gallery.html">
                альбомы
              </a>
            </li>
          </ul>
        </nav>
        <div class="page-footer__vendor-info">
          created by : <a class="page-footer__link" href="http://frontend.menshikov.su">Ilya Menshikov</a>
        </div>
      </footer>
    </div>
    <a class="to-top-btn" href="#top">
      <i class="css-icon css-icon--up"></i>
    </a>
    <div class="popup">
      <div class="popup__img js-old-slide"></div>
      <div class="popup__img js-new-slide"></div>
      <div class="popup__wrapper">
        <div class="popup__header"></div>
        <div class="popup__footer"></div>
      </div>
      <button class="popup__btn popup__btn--prev js-prev-img">
        <i class="css-icon css-icon--prev"></i>
      </button>
      <button class="popup__btn popup__btn--next js-next-img">
        <i class="css-icon css-icon--next"></i>
      </button>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.mobile.js"></script>
    <script src="js/script.min.js"></script>
  </body>
</html>
