        </main>
      </div>
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <!--                                                              -->
      <!--                         PAGE FOOTER                          -->
      <!--                                                              -->
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <footer class="page-footer">
        <nav class="main-nav main-nav--footer">
          <ul class="main-nav__items main-nav__items--footer">
            <li class="main-nav__item main-nav__item--footer">
              <a class="main-nav__link" href="index.html">
                главная
              </a>
            </li>
            <li class="main-nav__item main-nav__item--footer">
              <a class="main-nav__link" href="about.html">
                я и этот сайт
              </a>
            </li>
            <li class="main-nav__item main-nav__item--footer">
              <a class="main-nav__link" href="reviews.html">
                отчеты
              </a>
            </li>
            <li class="main-nav__item main-nav__item--footer">
              <a class="main-nav__link" href="gallery.html">
                альбомы
              </a>
            </li>
          </ul>
        </nav>
        <div class="page-footer__vendor-info">
          created by : <a class="page-footer__link" href="http://frontend.menshikov.su">Ilya Menshikov</a>
        </div>
      </footer>
    </div>
    <a class="to-top-arrow" href="#top">
      <i class="to-top-arrow__icon">
        <span class="to-top-arrow__icon-body"></span>
      </i>
    </a>
    <div class="img-popup">
      <div class="img-popup__header"></div>
      <div class="img-popup__main"></div>
      <div class="img-popup__footer"></div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/script.min.js"></script>
  </body>
</html>
