<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ASTOWELL</title>
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="icon" type="image/png" href="favicon.ico">
  </head>
  <body>
    <div class="overall-wrapper">
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <!--                                                              -->
      <!--                         PAGE HEADER                          -->
      <!--                                                              -->
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <header class="page-header">
        <div class="logo">
          <a class="logo__link js-menu-link" href="index.html">
            <img src="img/logo.png" width="269" height="63" alt="ASTOWELL">
          </a>
        </div>
      </header>
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <!--                                                              -->
      <!--                         PAGE CONTENT                         -->
      <!--                                                              -->
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <div class="page-content">
        <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <!--                                                              -->
        <!--                        PAGE ASIDE                            -->
        <!--                                                              -->
        <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <aside class="page-aside">
          <nav class="main-nav js-menu-popup">
            <ul class="main-nav__items">
              <li class="main-nav__item">
                <a class="main-nav__link" href="index.html">
                  главная
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="about.html">
                  я и этот сайт
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="reviews.html">
                  отчеты
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="gallery.html">
                  альбомы
                </a>
              </li>
            </ul>
          </nav>
          <nav class="main-nav main-nav--add">
            <ul class="main-nav__items">
              <li class="main-nav__item">
                <a class="main-nav__link" href="gallery_15.html">
                  Святой Афон (05.2016)
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="gallery_12.html">
                  Урал (07.2013)
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="crimea2012.html">
                  Крым (09.2012)
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="scandinavia2012.html">
                  Скандинавия (07-08.2012)
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="karelia2011.html">
                  Кольский п-ов (07.2011)
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="karelia2010.html">
                  Карелия (07.2010)
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="gallery_06.html">
                  Озеро Ильмень (08.2009)
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="cambodia2009.html">
                  Камбоджа (01.2009)
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="karelia2008.html">
                  Карелия (07.2008)
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="crimea2008.html">
                  Крым (05.2008)
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="crimea97-07.html">
                  Крым (1997-2007)
                </a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link" href="chupa2005.html">
                  Белое море (08.2005)
                </a>
              </li>
            </ul>
          </nav>
        </aside>
        <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <!--                                                              -->
        <!--                          PAGE MAIN                           -->
        <!--                                                              -->
        <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <main class="page-main">
